services:
  web:
    build: .
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: quiz
      MYSQL_USER: quiz
      MYSQL_PASSWORD: quiz
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./quiz (5).sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data:
